**/target

**/dependency-reduced-pom.xml

**/?


### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
**/.vscode/

## Ignore released file
eventing-kafka-broker.yaml
eventing-kafka-sink.yaml

!vendor/golang.org/