<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- Remove noisy loggers -->
  <logger name="io.netty" level="WARN"/>
  <logger name="org.apache.zookeeper" level="WARN"/>
  <logger name="org.apache.kafka" level="WARN"/>
  <logger name="kafka" level="OFF"/>
  <logger name="state" level="OFF"/>
  <logger name="io.vertx" level="INFO"/>
  <logger name="ch.qos.logback" level="OFF"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
