---

# Copyright 2022 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: knative-kafka-controller-post-install
  labels:
    kafka.eventing.knative.dev/release: devel
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - delete
      - deletecollection

  # sources.knative.dev resources and finalizers we care about.
  - apiGroups:
      - sources.knative.dev
    resources:
      - kafkasources
      - kafkasources/status
    verbs:
      - get
      - list

  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
    resourceNames:
      - defaulting.webhook.kafka.sources.knative.dev
    verbs:
      - delete

  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
    resourceNames:
      - validation.webhook.kafka.sources.knative.dev
      - config.webhook.kafka.sources.knative.dev
    verbs:
      - delete

  - apiGroups:
      - "*"
    resources:
      - services
    resourceNames:
      - kafka-source-webhook
      - kafka-controller
      - kafka-controller-manager-sm-service
    verbs:
      - delete

  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    resourceNames:
      - kafka-controller-manager-sm
    verbs:
      - delete

  - apiGroups:
      - apps
    resources:
      - deployments
    resourceNames:
      - kafka-controller-manager
    verbs:
      - delete

  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
    resourceNames:
      - eventing-sources-kafka-controller
      - eventing-sources-kafka-controller-addressable-resolver
    verbs:
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
    resourceNames:
      - eventing-sources-kafka-controller
    verbs:
      - delete

  - apiGroups:
      - "*"
    resources:
      - serviceaccounts
    resourceNames:
      - kafka-controller-manager
    verbs:
      - delete

  - apiGroups:
      - "*"
    resources:
      - secrets
    resourceNames:
      - kafka-source-webhook-certs
    verbs:
      - delete
